<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PI33 Interview Assistant</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Landing Logo -->
    <img 
        src="{{ url_for('static', filename='logo_landing.png') }}" 
        alt="Landing Logo"
        width="200"
    >

    <!-- Dashboard Logo -->
    <img 
        src="{{ url_for('static', filename='logo_dashboard.png') }}" 
        alt="Dashboard Logo"
        width="200"
    >

</body>
</html>
